
.a{
   color: green;
   font-size: 30px;
   font-family: poppins;

}
.b{
   font-weight: normal;
   font-size: 16px;
   font-family: roboto;
  
}
 .c{
   color:block;
   font-size: 26px;
   font-weight: medium;
   font-family: roboto;

 }
 .d{
   font-size: 16px;
   font-family: roboto;
 

 }